section {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #25d433;
}

.task-list {
  list-style: none;
}

.task {
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 750px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.task-mark {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
}


.navlinks {
  display: flex;
  flex-direction: column;
}

.sections {
  display: flex;
  flex-direction: row;
}

.navlinks-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
} 

.tasks-section {
  width: 55%;
  height: 100vh;
  background-color: white;
  border: 1px solid #efefef;
  margin: 0;
  padding: 20px;
}

.task-sidebar {
  width: 25%;
}

.navlink {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 36px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.navlink:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.787);
}

.active {
  background-color: lightgray;
  font-weight: bold;
}

.tasks-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-buttons {
  display: flex;
  flex-direction: column;
}

.input-field {
  height: 25px;
  width: 200px;
  padding: 2px;
}

.button {
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  background-color: white;
}





