body {
    background-color: rgba(211, 211, 211, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

section {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 119, 255, 0.897);
  color: white;
}

.logo {
  margin-left: 70px;
}

.logout-button {
  margin-right: 30px;
  cursor: pointer;
  height: 25px;
  color: white;
  background-color: steelblue;
  border-radius: 5px;
  font-weight: bold;
  border-color: rgba(0, 119, 255, 0.897);
}

.logout-button:hover {
  color: #efefef;
}

.task-list {
  list-style: none;
}

.task {
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.task-item:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.step-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.step-item:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.task-mark {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.task-body {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-left: 5px;
}


.navlinks {
  display: flex;
  flex-direction: column;
}

.sections {
  display: flex;
  flex-direction: row;
}

.navlinks-sidebar {
  display: none;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
} 

.tasks-section {
  width: 55%;
  height: 100vh;
  background-color: white;
  border: 1px solid #efefef;
  margin: 0;
  padding: 20px;
}

.task-sidebar {
  width: 25%;
  background-color: white;
  margin: 7px;
  padding: 5px;
}

.navlink {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 36px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.navlink:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.787);
}

.active {
  background-color: lightgray;
  font-weight: bold;
}

.tasks-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .tasks-header {
    flex-direction: row;
  }
}

.task-buttons {
  display: flex;
  flex-direction: column;
}

.input-field {
  height: 25px;
  width: 200px;
  font-size: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.button {
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  background-color: white;
  border: 3px;
}

.button:hover {
  background-color: rgba(0, 119, 255, 0.897);
  color: white;
  border-radius: 5px;
}

.trash-button {
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  background-color: white;
  border: 3px;
}

.trash-button:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
} 

.del-button {
  font-weight: bold;
  height: 20px;
  cursor: pointer;
  margin: 5px;
  border: 3px;
  background-color: white;
}

.del-button:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.task-input {
  height: 40px;
  font-size: 100%;
  width: 99.5%;
  background-color: white; 
  border: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-input:hover {
  background-color: lightgray;
}

.step-input {
  height: 25px;
  font-size: 95%;
  background-color: white;
  border: none;
  width: 300px;
}

.search-bar {
  height: 25px;
  width: 25%;
  font-size: 80%;
  margin-right: 50px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  border: 1px solid rgba(0, 119, 255, 0.897);
}

.search-message {
  display: flex;
  flex-direction: column;
}

.no-results {
  opacity: 0.7;
  font-size: 25px;
}

.symbol {
  font-size: 25px;
  margin-right: 5px;
  padding-bottom: 4px;
}

.symbol-star {
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 4px;
}








