section {
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #25d433;
}

.task-list {
  list-style: none;
}

.task {
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
  flex-direction: row;
}

.navlinks {
  display: flex;
  flex-direction: column;
}

.sections {
  display: flex;
  flex-direction: row;
}

